@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/yeseva-one/YesevaOne-Regular_v2.otf');
}
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url('../images/pattern.png');
}
.container{
  max-width: 1600px;
  margin:auto;
  text-align: center;
  padding: 0 175px;
}
main .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1, h2, h3, p, ul{
  padding: 0;
  margin: 0;
}
h1{
  font-size: 90px;
  font-family: 'Yeseva One';
}
h2{
  font-size: 36px;
  font-family: 'Yeseva One';
}
.gold{
  color: #cc9900;
}
p{
  font-size: 16px;
  line-height: 24px;
}
a{
  color: #fff;
  text-decoration: none;
}
li{
  list-style: none;
}
/*************************************************header */
header .navigation{
  padding: 40px 0;
}
header .promo{
  padding: 0 0 100px;
}
nav ul{
  width:720px;
}
.navigation a{
  text-transform: capitalize;
  font-size: 21px;
}
/********************************************** promo */
header .container{
  background-image: url("../images/header.jpg");
  background-size: cover;
  color:#fff;
}
.buttons{
  width: 550px;
  margin: auto;
}
.buttons div{
  width: 225px;
  height: 55px;
  opacity: 0.7;
}
.buttons a{
  display: block;
  color:#fff;
  width: 100%;
  height: 100%;
}
.booking{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #000;
}
.see_menu{
  background-color: rgba(240,240,240,0.5);
  border: 1px solid #fff;
}
/************************************************/
.image_with_plate{
  width: 620px;
  height: 620px;
  background-image: url("../images/plate.png");
}
.cooker{
  width: 420px;
}
/************************************************* ingredients */
.ingredients .container{
  background-image: url("../images/ingred.jpg");
  position: relative;
}
.ingredients .block{
  width:410px;
  padding: 80px;
  background-color: rgba(0,0,0,0.5);
}
.ingredients p, .ingredients h2{
  color: #fff;
}
.block{
  position: relative;
  left: 55%;
}
.food_images div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #212325;
  overflow: hidden;
  background-position: 50%;
}
/****************************************** menu */
.menu{
  background-image: url("../images/pattern2.png");
}
.menu .container{
  flex-wrap: wrap;
}
.menu h2{
  color: #cc9900;
}
.menu_theme{
  width: 440px;
}
.menu_theme p{
  text-align: left;
}
.dish_name{
  border-bottom: 1px solid #cc9900;
  justify-content: space-between;
}
/******************************************* REVIEWS */
.reviews .container{
  background-image: url("../images/rew.jpg");
}
.inf_block{
  width: 620px;
  padding: 80px 75px 100px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  margin: auto;
}
.inf_block p{
  font-size: 25px;
  line-height: 45px;
}
.info_reserved{
  width: 435px;
}
.info_reserved h2{
  color: #cc9900;
}
form label{
  display: block;
  color: #cc9900;
  font-weight: 700;
}
form{
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between!important;
}
.input_form input{
  width: 170px;
  height: 35px;
  border: 1px solid #ccc;
  font-style: italic;
  padding-left: 15px;
}
.input_form select{
  width: 185px;
  height: 35px;
  border: 1px solid #ccc;
  font-style: italic;
  padding-left: 15px;
}
.button{
  width: 200px;
  height: 35px;
  background-color: #cc9900;
  border: none;
  color: #fff;
  font-size: 16px;
}
/***********************************************footer */
footer{
  background-color: #191919;
  color: #fff;
  padding: 60px 0 80px;
}
footer h3{
  text-transform: capitalize;
}
.about_us{
  max-width: 350px;
}
