@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/yeseva-one/YesevaOne-Regular_v2.otf');
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Medium.ttf');
}
@font-face {
  font-family: 'Gentium-Basic';
  src: url('../fonts/Gentium-Basic/GenBasB.ttf');
}
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url('../images/pattern.png');
}
.wrapper{
  min-height: calc(100vh - 70px);
}
.container{
  max-width: 1200px;
  margin:auto;
  text-align: center;
  padding: 0;
  background-size: cover;
}
main .container{
  padding-top: 100px;
  padding-bottom: 70px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1, h2, h3, p, ul{
  padding: 0;
  margin: 0;
  font-weight: normal;
}
h1{
  font-size: 90px;
  font-family: 'Yeseva One';
  line-height: 120px;
  margin-top: 97px;
}
h1::after{
  content: '';
  width: 230px;
  height: 43px;
  background-image: url("../images/divider_big.png");
  display: block;
  margin: 23px auto 30px;
}
h2{
  font-size: 36px;
  font-family: 'Yeseva One';
}
h2::after{
  content: '';
  width: 230px;
  height: 24px;
  display: block;
  margin: 14px auto 26px;
}
h2.gold::after{
  background-image: url("../images/divider_gold.png");
}
.ingredients h2::after, .reviews h2::after{
  background-image: url("../images/divider_white.png");
}
h3, .menu span{
  line-height: 24px;
  font-size: 21px;
  font-family: 'Yeseva One';
}
footer h3::after{
  content: '';
  width: 200px;
  height: 18px;
  background-image: url("../images/divider_white_small.png");
  display: block;
  margin: 20px auto;
}
.gold{
  color: #cc9900;
}
p{
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato';
}
a{
  color: #fff;
  text-decoration: none;
}
li{
  list-style: none;
}
/*************************************************header */
header .navigation{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
}
.navigation .container{
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  margin-right: 190px;
}
nav li{
  border-top: 3px solid rgba(0,0,0,0);
}
header .promo .container{
  padding: 0 0 100px;
}
nav ul{
  width:720px;
}
nav a, .logo img, .sotials, .pay_cards{
  padding: 45px 0;
}
nav a{
  height: 100%;
  display: block;
}
header .sotials{
  width: 100px;
}
.sotials a, .pay_cards div{
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}
header .sotials img{
  position: relative;
  top: -110px;
}
header .twitter{
  left: -20px;
}
header .youtube{
  left: -60px;
}
header .facebook{
  left: -90px;
}
.navigation a{
  font-family: 'Gentium-Basic';
  text-transform: capitalize;
  font-size: 21px;
}
nav .active, nav li:hover{
  border-top: 3px solid #fff;
}
/********************************************** promo */
header{
  background-image: url("../images/header.jpg");
  color:#fff;
  background-size: cover;
}
.buttons{
  width: 510px;
  margin: 0 auto 45px;
}
.buttons div{
  width: 225px;
  opacity: 0.7;
  overflow: hidden;
}
.buttons a{
  display: block;
  color:#fff;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  margin: auto;
  font-family: 'open-sans';
}
.booking:hover{
  background-color: #000;
}
.see_menu:hover{
  background-color: #ccc;
  color: #000;
}
.see_menu a:hover{
  color: #000;
}
.booking{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #000;
}
.see_menu{
  background-color: rgba(240,240,240,0.5);
  border: 1px solid #fff;
}
/************************************************ cook */
.about .container{
  position: relative;
  padding-bottom: 12px;
}
.image_with_plate{
  width: 620px;
  height: 600px;
  background-image: url("../images/plate.png");
  position: relative;
  top:-20px;
}
.cooker{
  width: 420px;
  position: relative;
}
.cooker img{
  margin-top: 55px;
  position: relative;
  left: 50px;
}
/************************************************* ingredients */
.ingredients {
  background-image: url("../images/ingred.jpg");
  position: relative;
  background-size: cover;
}
.ingredients .block{
  width:410px;
  padding: 75px;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 30px;
}
.ingredients p, .ingredients h2{
  color: #fff;
}
.block{
  position: relative;
  left: 50%;
}
.food_images div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #212325;
  overflow: hidden;
  background-position: 50%;
  margin-top: 70px;
}
/****************************************** menu */
.menu{
  background-image: url("../images/pattern2.png");
}
.menu .container{
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.menu_theme{
  width: 440px;
  margin-bottom: 70px;
}
.menu_theme p{
  text-align: left;
  padding:  0 ;
}
.dish_name{
  border-bottom: 1px solid #cc9900;
  justify-content: space-between;
}
.dish_all{
  position: relative;
  margin-bottom: 35px;
}
.menu h3, .menu span{
  padding: 0 0 10px;
}
.special{
  border: 1px solid #cc9900;
  padding: 5px;
}
.special::before{
  content: 'Special';
  display: block;
  position: absolute;
  right: -1px;
  top:-20px;
  background-color: #cc9900;
  color: #fff;
  width: 70px;
  height: 20px;
  font-family: 'open-sans';
}
/******************************************* REVIEWS */
.reviews{
  background-image: url("../images/rew.jpg");
  background-size: cover;
}
.inf_block{
  width: 620px;
  padding: 80px 75px 100px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  margin: 0 auto 20px;
  position: relative;
}
.inf_block p{
  font-size: 25px;
  line-height: 45px;
  font-family: 'Gentium-Basic';
  color: #dde0df;
}
blockquote{
  margin: 0;
}
blockquote p{
  margin-bottom: 30px;
}
blockquote::before {
content: "\201C";
font-family: serif;
position: absolute;
left: 30px;
top: 150px;
color: white;
font-size: 80px;
line-height: 1.35;
text-align: center;
}
cite{
  font-family: 'open-sans';
  font-style: normal;
  font-size: 17px;
}
/****************************************************** reserved*/
.reservation .container{
  margin-bottom: 30px;
}
.info_reserved{
  width: 435px;
}
.info_reserved p{
  padding-bottom: 10px;
}
form label{
  display: block;
  color: #cc9900;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'open-sans';
}
form .flex{
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between!important;
  margin-top: 30px;
}
.input_form input{
  width: 170px;
  height: 30px;
  border: 1px solid #ccc;
  font-style: italic;
  padding-left: 15px;
  color: #888;
  margin-bottom: 25px;
}
.input_form select{
  width: 185px;
  height: 35px;
  border: 1px solid #ccc;
  font-style: italic;
  padding-left: 15px;
  color: #888;
}
.input_form input:hover, .input_form select:hover, .input_form input:focus, .input_form select:focus{
  border: 1px solid #cc9900;
}
.button{
  width: 200px;
  height: 35px;
  background-color: #cc9900;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.button:hover{
  background-color: #ccc;
}
.images_reserv{
  width: 570px;
  display: flex;
  justify-content: space-between;
}
/***********************************************footer */
footer{
  background-color: #191919;
  color: #fff;
  padding: 60px 0 80px;
  height: 200px;
}
footer h3{
  text-transform: capitalize;
}
.about_us{
  max-width: 350px;
}
.opening_hours{
  width: 300px;
}
.our_location{
  width: 350px;
}
footer .sotials{
  width: 100px;
  margin: auto;
}
footer .sotials img{
  position: relative;
  top: -65px;
}
footer .facebook{
  left: -20px;
}
footer .twitter{
  left: -70px;
}
footer .youtube{
  left: -43px;
}
footer .something_network{
  left: -90px;
}
.facebook:hover, .twitter:hover, .youtube:hover, .something_network:hover{
  transform: scale(1.05);
}
.pay_cards img{
  position: relative;
  top: -15px;
}
.pay_cards{
  width: 120px;
  margin: auto;
}
.card1{
  left: -20px;
}
.paypal{
  left: -52px;
}
.visa{
  left: -85px;
}
.card4{
  left: -115px;
}
